<link rel="stylesheet" type="text/css" href="css/account.css">

<div class="jumbotron">
    <h1 class="chart-title">Instagram Data Visualizations</h1>
    <a class="btn btn-primary btn-lg" href="/c3visualization" role="button">Start Viewing »</a> 
</div>