<!doctype html>
<html>
<head>
	<title>Assignment 1</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">      
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="css/bootstrap-theme.css">
	<link rel="stylesheet" type="text/css" href="css/stylesheet.css">
	<link href="http://fonts.googleapis.com/css?family=Lobster" rel="stylesheet" type="text/css">
	<link href="http://fonts.googleapis.com/css?family=Cabin" rel="stylesheet" type="text/css">

</head>

<body>
	<div>
		<div class="header">
			<div class="top">
				<a class="navbar-brand" href="/login"><img alt="Brand" src="http://www.esquinabk.com/images/instagram.png" class="navbar-brand"></a>
				<p class="navbar-text navbar-right">Signed in as <a href="#" class="navbar-link">{{user.name}}</a></p>
				<ul class="nav nav-tabs">
				    <li class="active"><a href="/c3visualization">Media Counts C3</a></li>
				    <li><a href="/visualization">Media Counts D3</a></li>
				    <li><a href="/c3visualizationNew">Most Popular C3</a></li>
					<li><a href="/visualizationNew">Most Popular D3</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div id="chart"></div>

	<script src="js/c3visualization.js"></script>
	
</body>
</html>








