	<link rel="stylesheet" type="text/css" href="css/c3visualization.css">

	<h1 class="chart-title" align="center">Media Count of Your Instagram Followers using C3JS</h1>

	<div class="table" id="spinner-dots">
	  <div class="cell">
	    <div class="gmb-loader">
	      <div></div>
	      <div></div>
	      <div></div>
	    </div>
	  </div>
	</div>

	<div id="chart"></div>

	<script src="js/c3visualization.js"></script>





