<link rel="stylesheet" type="text/css" href="css/c3visualizationNew.css">

<h1 class="chart-title" align="center">Top Tags From Friends Compared With Global Usage Counts</h1>

<div class="table" id="spinner-dots">
  <div class="cell">
    <div class="gmb-loader">
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>
</div>

<div id="chart"></div>
<div id="chart2"></div>

<script src="js/c3visualizationNew.js"></script>
