<!doctype html>
<html>
<head>
	<title>Assignment 1</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">      
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="css/bootstrap-theme.css">
	<link rel="stylesheet" type="text/css" href="css/stylesheet.css">
	<link href="http://fonts.googleapis.com/css?family=Lobster" rel="stylesheet" type="text/css">
	<link href="http://fonts.googleapis.com/css?family=Cabin" rel="stylesheet" type="text/css">

</head>

<body class="loginpage">
	<div class="wrapper">
		<h1 id="title">InstaPop!</h1>
		<p>Find which of your Instagram followers are poppin'</p>
		<div id="login"><a href="/auth/instagram">
			<img src="http://www.esquinabk.com/images/instagram.png" alt="instagram" id="logo">
			<p id="sign">Sign in</p>
		</a></div>
	</div>
</body>
</html>


