<link rel="stylesheet" type="text/css" href="css/login.css">
<link href="http://fonts.googleapis.com/css?family=Lobster" rel="stylesheet" type="text/css">
<link href="http://fonts.googleapis.com/css?family=Cabin" rel="stylesheet" type="text/css">
<link href='http://fonts.googleapis.com/css?family=Lobster+Two:400italic' rel='stylesheet' type='text/css'>

<body class="loginpage">
	<div class="wrapper">
		<div id="title">
			<h1 id="title">InstaPop<img src="img/bubble.png" alt="bubble" id="bubble"> </h1>
		</div>
		<br>
		<p>Find which of your Instagram followers are poppin'</p>
		<a href="/auth/instagram">
			<div id="login">
				<img src="../img/insta.png" alt="instagram" id="logo">
				<p id="sign">Sign in</p>
			</div>
		</a>
	</div>
</body>



