<link rel="stylesheet" type="text/css" href="css/visualization.css">

<h1 class="chart-title" align="center">Media Count of Your Instagram Followers</h1>

<div class="table" id="spinner-dots">
  <div class="cell">
    <div class="gmb-loader">
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>
</div>

<div id="chart"></div>

<div id="sort-buttons" align="center">
  <button id="sort-button-desc" type="button" class="btn btn-default btn-lg" style="display: none;">
    Sort Desc
  </button>

  <button id="sort-button-asc" type="button" class="btn btn-default btn-lg" style="display: none;">
    Sort Asc
  </button>
</div>

<script src="js/visualization.js"></script>