<link rel="stylesheet" type="text/css" href="css/visualizationNew.css">

<h1>Recent Number of Likes and Comments on Instagram Followers' Media</h1>

<div id="scatter-load"></div>
<script src="js/visualizationNew.js"></script>
