<link rel="stylesheet" type="text/css" href="css/visualizationNew.css">

<h1 class="chart-title" align="center">Recent Number of Likes and Comments on Instagram Followers' Media</h1>

<div class="table" id="spinner-dots">
  <div class="cell">
    <div class="gmb-loader">
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>
</div>

<div id="scatter-load"></div>
<script src="js/visualizationNew.js"></script>
