body.loginpage {
	background-color: #E44424;
	
}

.wrapper{
	height: 60%;
	width: 55%;
 	margin: auto;
  	position: absolute;
  	top: 0; left: 0; bottom: 0; right: 0;


}

#bubble {
	z-index: 0;
    position: absolute;
    top: -12px;
	right: 114px;
	width: 74px;
	height: 95px;
	opacity: .85;


}
h1#title {
    font-family: 'Lobster', Georgia, Times, serif;
    line-height: 130px;
    color: #FDF3E7;
    font-size: 8em;
    text-align: center;
}


p {
    font-family: 'Cabin', Helvetica, Arial, sans-serif;
    font-size: 2em;
    line-height: 25px;
    color: #3B3738;
    text-align: center;

}

a:hover {
    text-decoration: hidden;
}

#sign {
	font-family: 'Lobster', Georgia, Times, serif;
	font-size: 1.5em;
	text-align: center;
	margin-top: 12px;
	margin-left: 10px;

}
#login {
	width: 250px;
	height: 50px;
	background-color: #FDF3E7;
	margin: auto;
  	position: absolute;
  	top: 90px; left: 0; bottom: 0; right: 0;
  	border-radius: 10px;
  	box-shadow: 2px 2px 6px #3B3738;
}

#login:hover {
	background-color: #dcddcd;
	box-shadow: hidden;

}

#logo {
	float: left;
	position: absolute;
	height: 100%;
}
.navbar-brand {
	padding: 0 0 0 0;
	visibility: hidden;
}
p.navbar-text.navbar-right {
	margin: 0 0 0 0;
	visibility: hidden;
}
.ul.nav.nav-tabs  {
	height: 144px;
	visibility: hidden;
}

.header {
	visibility: hidden;
}

nav {
	visibility: hidden;
}

