body.loginpage {
	background-color: #E44424;
}

.wrapper{
	height: 50%;
	width: 55%;
 	margin: auto;
  	position: absolute;
  	top: 0; left: 0; bottom: 0; right: 0;
}

h1#title {
    font-family: 'Lobster', Georgia, Times, serif;
    line-height: 130px;
    color: #FDF3E7;
    font-size: 8em;
    text-align: center;
}

h1 {
	font-family: 'Lobster', Georgia, Times, serif;
	margin: 6px 0 0 0;
  color: black;
}
 
p {
    font-family: 'Cabin', Helvetica, Arial, sans-serif;
    font-size: 2em;
    line-height: 25px;
    color: #3B3738;
    text-align: center;
}

a:hover {
    text-decoration: none;
}

#sign {
	font-family: 'Cabin', Helvetica, Arial, serif;
	font-size: 1.5em;
	text-align: center;
	margin-top: 12px;
	margin-left: 10px;

}
#login {
	width: 250px;
	height: 50px;
	background-color: #FDF3E7;
	margin: auto;
  	position: absolute;
  	top: 130px; left: 0; bottom: 0; right: 0;
  	border-radius: 10px;
}

#login:hover {
	background-color: #dcddcd;
}

#logo {
	float: left;
	position: absolute;
	height: 100%;
}
.navbar-brand {
	padding: 0 0 0 0;
}
p.navbar-text.navbar-right {
	margin: 0 0 0 0;
}
.ul.nav.nav-tabs  {
	height: 144px;
}

#chart {
	position: absolute;
}

nav.navbar.navbar-fixed-top {
	margin: 0 0 0 0;
	color: #E44424;
	background-color: #3B3738;
}

div#bs-example-navbar-collapse-1.collapse.navbar-collapse {
	margin-left: 190px;
}

li {
	color: 
}

.profilepic {
	width: 30px;
	height: 30px;
	border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
	box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
}

li.disabled a {
	padding: 10px 0 0 0;
}

ul.dropdown-menu{
	width: 100%;
}

.chart-title {
  padding-bottom: 20px;
}